.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
android/.gradle/
android/app/google-services.json
android/app/src/main/java/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
lib/firebase_options.dart



